@page "/admin"
@inject IFreeSql Db
<PageTitle>仪表盘 | Lantin</PageTitle>
<style>
    .icon-card{
        position:absolute;
        right:20px;
        top:35px;
        font-size:96px;
        color:rgb(156 150 204)
    }
</style>
    <MudCarousel Class="mud-width-full" Style="height:200px;" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">
        <MudCarouselItem Transition="Transition.Fade" Color="@Color.Primary">
            <div class="d-flex" style="height:100%">
                <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large"/>
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Fade" Color="@Color.Secondary">
            <div class="d-flex" style="height:100%">
                <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large"/>
            </div>
        </MudCarouselItem>
    </MudCarousel>
<MudGrid Justify="Justify.SpaceBetween" Class="mt-5">
    <MudItem xs="12" sm="6" md="4" lg="3">
        <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full py-2" Style="background-color:#f0f3fa" Elevation="0">
            <MudPaper Style="position:relative" Class="pa-5 rounded-xl" Height="160px" Width="100%" Elevation="0">
                <MudText Typo="Typo.body2" Style="color:#A3AED0">
                    版本
                </MudText>
                <MudIcon Class="icon-card" Icon="@Icons.Custom.Uncategorized.Radioactive"/>
                <MudText Typo="Typo.h3" Class="mt-7">
                    1.0
                </MudText>
            </MudPaper>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="4" lg="3">
        <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full py-2" Style="background-color:#f0f3fa" Elevation="0">
            <MudPaper Style="position:relative" Class="pa-5 rounded-xl" Height="160px" Width="100%" Elevation="0">
                <MudText Typo="Typo.body2" Style="color:#A3AED0">
                    文章
                </MudText>
                <MudIcon Class="icon-card" Icon="@Icons.Filled.Article"/>
                <MudText Typo="Typo.h3" Class="mt-7">
                    @articleCount
                </MudText>
            </MudPaper>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="4" lg="3">
        <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full py-2" Style="background-color:#f0f3fa" Elevation="0">
            <MudPaper Style="position:relative" Class="pa-5 rounded-xl" Height="160px" Width="100%" Elevation="0">
               <MudText Typo="Typo.body2" Style="color:#A3AED0">
                    评论
                </MudText>
                <MudIcon Class="icon-card" Icon="@Icons.Filled.Comment"/>
                <MudText Typo="Typo.h3" Class="mt-7">
                    @commentCount
                </MudText>
            </MudPaper>
        </MudPaper>
    </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="3">
        <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full py-2" Style="background-color:#f0f3fa" Elevation="0">
            <MudPaper Style="position:relative" Class="pa-5 rounded-xl" Height="160px" Width="100%" Elevation="0">
                <MudText Typo="Typo.body2" Style="color:#A3AED0">
                    附件
                </MudText>
                <MudIcon Class="icon-card" Icon="@Icons.Filled.FilePresent"/>
                <MudText Typo="Typo.h3" Class="mt-7">
                    24M
                </MudText>
            </MudPaper>
        </MudPaper>
    </MudItem>
</MudGrid>
@code{
    long articleCount;
    long commentCount;
    protected override void OnInitialized()
    {
        articleCount = Db.Select<Model.Article>().Count();
        commentCount = Db.Select<Model.Comment>().Count();
    }
}